

body,
.boxer{
    height:100%;
    padding: 0;

}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cornflowerblue;

}

.boxer{
    padding: 20px,20px,20px,20px;
}
header{
    text-align: center;
    padding: 20px;
    padding-top: 20px;
    color: black
}
.card{
    background-color: blanchedalmond;
    border-radius: 5px;
    font-size: 20px;
}